@import "../common/commonStyle.css";

#question-list p:hover{
  background:#e5e5e5;
  cursor: pointer;
}
#submit-questionnaire{
  display: inline-block;
  width: 100px;
  position:absolute;
  left:0;
  right:0;
  margin: -10px auto 0;
}