.date-picker {
    width: 210px;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.5);
    .date-title {
        position: relative;
        height: 40px;
    }
    h1 {
        color: #ee7419;
        font-size: 12px;
        font-weight: bold;
        line-height: 20px;
        height: 20px;
        text-align: center;
    }
    .prev,.next,li
    {
        font-size: 12px;
        line-height: 30px;
        display: inline-block;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        text-align: center;
    }
    .prev, .next {
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        top: 0;
        cursor: pointer;
        color: black;
        &:active {
            color: #ee7419;
        }
    }
    .prev {
        left: 0;
    }
    .next {
        right: 0;
    }
    .date-picker-date li {
        float: left;
        height: 20px;
        line-height: 20px;
        cursor: pointer;
    }

    .data-picker-weekDay li{
        font-weight: bold;
    }
}

.date-picker .active,
.date-picker-date li:hover
{
    color: #fff;
    border: 1px solid #ee7419;
    border-radius: .25em;
    background: #ee7419 linear-gradient(hsla(0,0%,100%,.2),transparent);
    text-shadow: 0 -.0625em .0625em rgba(0,0,0,.5);
}
