
@import "../common/commonStyle";


hr{
  margin-bottom: 30px;
}
.input-edit{
  width: 50%;
  height: 30px;
  text-align: center;
}
#question-list {
  .input-edit{
    text-align: left;
    height: 1.5em;
  }
  ul{
    height: 40px;
    opacity: 0;
    li{
      float: right;
      margin-right: 5px;
      cursor: pointer;
    }
  }
  .question-option{
    padding: .5em;
    &:hover {
      background: rgb(254, 241, 232);
    }
    .remove-option{
      margin-left: 10px;
      font-size: 14px;
      opacity: 0;
      cursor: pointer;
      text-indent: 0;
    }
  }
  div {
    &:hover>ul{
      opacity: 1;
    }
    &:nth-child(1) .go-up{
      display: none;
    }
    &:nth-last-child(1) .go-down{
       display: none;
     }
  }
  p:hover>.remove-option{
    opacity: 1;
    color: #ee7419;
  }
  .add-option{
    cursor: pointer;
    text-align: center;
    border: 1px dotted grey;
    opacity: 0;
    &:hover{
      opacity: 1;
    }
  }

}

#question-type{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  height: 80px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #7d7d7d;
  button{
    width:25%;
    margin-top: 20px;
    height: 40px;
  }
}
#add-question {
  cursor: pointer;
  width: 90%;
  margin: 0 auto 1.5em;
  text-align: center;
  line-height: 80px;
  border: 1px solid #7d7d7d;
  background: #dadada;
}

#my-calender{
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  line-height: 1.5em;
  margin:30px auto;
  justify-content: space-around;
  #date-group {
    text-align: center;
    #mydatepicker {
      margin-bottom: 0.5em;
    }
  }
  #button-group button{
    padding: 4px 10px;
  }
}