@import "../common/commonStyle";

#build{
  width: 200px;
  height:45px;
  background:$primaryColor ;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -22.5px;
  color: $aColor;
  font-size: 1.5em;
  line-height: 45px;
  border-radius: .1em;
  box-shadow: $boxShadow;
}

table{
  width: 90%;
  padding: .5em;
  margin: 0 auto;
  border-spacing: 0;
  th{
    font-size: 20px;
    font-weight: bold;
    padding: .5em;
    &:hover{
      background:rgb(254, 241, 232);
    }
  }
  .tr{
    &:hover{
      background:rgb(254, 241, 232);
    }
    td{
      font-size: 18px;
      text-align: center;
      padding: .5em;
      color: grey;
      border-bottom: 1px solid grey;
    }
    .ing{
      color: lightgreen;
    }
    .been{
      color:firebrick;
    }
    .saving{
      color: grey;
    }
  }
  button{
    width: 6em;
    padding: 3px;
    margin-left: 1em;
    a{
      display: block;
      width: 100%;
      height: 100%;
      padding: 3px;
      &:hover {
        color:white;
      }
  }
  }
}
a{
  color: black;
  &:hover{
    color: white;
  }
}

.add-btn,.view-data,.build-new{
  padding: 0;
}


