<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <header>
        <h1 id="first-h1">问卷系统</h1>
        <h1 id="second-h1"><a href="index.html">我的问卷</a></h1>
    </header>
    <main>
        <div id="container">
            <h1 id="creatTitle" class="creatTitle"></h1>
            <hr />
            <div id="question-list">
            </div>
            <hr />
            <button id="submit-questionnaire">提交问卷</button>
        </div>
    </main>
</body>
</html>
