<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<header>
  <h1 id="first-h1">问卷系统</h1>
  <h1 id="second-h1">我的问卷</h1>
</header>
<main>
  <div id="container">
    <a id="build" href="editQuestionnaire.html">新建问卷</a>
    <table>
      <tr>
        <th>标题</th>
        <th>时间</th>
        <th>状态</th>
        <th>操作 <button class="build-new"><a href="editQuestionnaire.html">新建问卷</a></button></th>
      </tr>
    </table>
  </div>
</main>
</body>
</html>